.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-login{
  left: 50%;
  top: 50%;
  margin-left: -15%;
  position: absolute;
  margin-top: -17%;
  height: 350px;
  width: 350px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border: 1;
  border-style: solid;
  border-radius: 20px;
  border-color: blueviolet;

}

.home-page{
  left: 50%;
  top: 50%;
  margin-left: -15%;
  position: absolute;
  margin-top: -21%;
  height: 400px;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border: 1;
  border-color: black;
  border-radius: 20px;

}

#username{
  width: 300px;
  background-color: white;
  border-radius: 10px;
 
}
#password{
  width: 300px;
  background-color: white;
  border-radius: 10px;

}


.header1{
  text-align: center;
}

.header2{
  cursor: pointer;
  margin-left: 30px;
}

.appbar-container{
  border-style: solid;
  text-align:left ;
  height:50px;
  padding-left: 90px;
  border-radius: 10px;
  border-color: blueviolet;
  color:darkblue;
}

.inputs{
  margin-top: 10px;
  border-radius: 20px;

}

.btn-login{
  margin-top: 30px;
  justify-content: center;
}



.btn-logout{
  margin-left:  80%;
  margin-top: 15px;
}

.table-info{
  left: 50%;
  top: 50%;
  margin-left: -30%;
  position: absolute;
  margin-top: -15%;
  height: 100px;
}