
.header-container{
    display: flex;
    max-width: 100%;
    min-width: 850px;
    background-color: royalblue;
    align-items: center;

    
    .header-one{    
        cursor : pointer;
        justify-content: center;
        margin-left: 10px;
        color: white;
    }
    
    .header-two{
        cursor : pointer;
        margin-left : 20px;
        color: white;
    }

    .header-select-container{
        margin-left: auto;

        float: right;
    }
    
    .header-select{
        border-radius: 15px;
        height: 40px;
        width: 120px;
        background-color: white;
        //float: right;
    }

}

