
.header-container{

    .header-select{
        margin-left: 800px;
        border-radius: 15px;
        height: 40px;
        width: 120px;
        background-color: white;
    }
    
    .header-one{
        cursor : pointer;
    
    }
    
    
    .header-two{
        cursor : pointer;
        margin-left : 20px;
    
    }

}

