
.container-form{
  display: flex ;
  max-width: 100%;
  min-width: 200px;
  align-items: center;

  .form-login{
 
    position: relative;
    height: 350px;
    width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 5% auto;
    border: 1;
    border-style: solid;
    border-radius: 20px;
    border-color: blueviolet;

    .inputs{
      margin-top: 10px;
      border-radius: 20px;
    
    }

    #username{
      width: 300px;
      background-color: white;
      border-radius: 10px;
    
    }
    #password{
      width: 300px;
      background-color: white;
      border-radius: 10px;
    
    }
    
    .header1{
      text-align: center;
    }

  .btn-login-container{
    
      margin-top: 30px;
      justify-content: center;
    }

    .btn-login{
      height: 40px;
      width:100px;
      border-radius:20px;
    }
    
  
  }
}
  