
.container-form{
  display: flex ;
  max-width: 100%;
  min-width: 200px;
  align-items: center;

  .form-login{
    max-width: 100%;
    min-width: 320px;
    max-height: 100%;
    min-height: 350px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5% auto;
    border: 1;
    border-style: solid;
    border-radius: 20px;
    border-color: blueviolet;

    .inputs{

      max-width: 100%;
      margin-top: 10px;
      border-radius: 20px;
    
    }

    #invalid-box{
      width: 260px;
      height: 20px;
      background-color: lightgreen;
     
    }

    #username{
      width: 300px;
      background-color: white;
      border-radius: 10px;
    
    }
    #password{
      width: 300px;
      background-color: white;
      border-radius: 10px;
    
    }
    
    .header1{
      text-align: center;
    }

  .btn-login-container{
    
      height: 60px;
      width: 300px;
      max-width: 100%;
      margin-top: 20px;
      
      .btn-login{
      height: 40px;
      width:100px;
      position: relative;
      float: left;
      border-radius:20px;
    }

    .btn-reset{
      height: 40px;
      width:100px;
      float: right;
      border-radius:20px;
    }
  }
    
  
  }
}
  