

.home-page{

    left: 50%;
    top: 50%;
    margin-left: -15%;
    position: absolute;
    margin-top: -21%;
    height: 400px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border: 1;
    border-color: black;
    border-radius: 20px;

      
    .appbar-container{
      border-style: solid;
      text-align:left ;
      height:50px;
      margin-top:20px;
      padding-left: 90px;
      border-radius: 10px;
      border-color: blueviolet;
      color:darkblue;
    }

    .header-profile{
      font-size: 35px;
    }

  
  }
  
 
  .notfound-container{
    font-size:35px;

    .btn-notfound{
      font-size: 20px;
    }
    

  }
  